/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

/* Estilos específicos para dispositivos pequeños (móviles) */
@media (max-width: 576px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}